@import url("fonts/fonts.css");
:root{
    --fondo: #202323;
    --primario: #CCB76A;
    --acento: #1D9593;


    --twitch: #9046ff;
    --youtube: #fe0000;

    --shadowrad: 10px
}

body{
    background-color: var(--fondo);
    font-family: "IvyMode";
}

h1{
    color: var(--primario);
    text-shadow: 0 0 var(--shadowrad) var(--primario);

}

h2{
    color: var(--acento);
    text-shadow: 0 0 var(--shadowrad) var(--acento);
}

i.fa-twitch{
    color: var(--twitch);
    text-shadow: 0 0 var(--shadowrad) var(--twitch);
}
i.fa-youtube{
    color: var(--youtube);
    text-shadow: 0 0 var(--shadowrad) var(--youtube);
}